@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Inconsolata&family=Nunito&family=Nunito+Sans&family=Pacifico&family=Quicksand&family=Roboto+Mono:wght@500&family=Rubik&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffa2a2;
  font-family: "Roboto Mono", monospace;
}

.app__left {
  padding: 50px;
}

.app__right {
  text-align: center;
  margin: 50px;
  filter: drop-shadow(1em 0.75em);
}

.app {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 75vw;
}

.app__header {
  font-family: "Quicksand", sans-serif;
  border-bottom: 3px dashed black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.app__stats {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
  filter: drop-shadow(0.75em 0.75em);
}

.map {
  display: inline-block;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .app {
    margin: 50px;
    flex-direction: column;
  }
}

.country__card {

}
