@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly; 
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.app__stats {
  font-family: 'Sora', sans-serif;
  justify-content: space-between;
  display: flex;
  filter: drop-shadow(.75em .75em);
  text-align: center;
}


.map {
  padding-top: 50px;
}

@media (max-width: 900px) {
  .app  {
    margin: 50px;
    flex-direction: column;
  }
}

.test {
  color: green;
}